.job {
  border: none;
  padding: 1rem 1rem 0 1rem;
  margin: 1rem;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: rgb(245, 245, 245);
  box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.49);
}

.job-details {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.job-details label {
  font-weight: bold;
}

.job-details a {
  cursor: pointer;
  text-decoration: none;
}

.job-buttons {
  display: flex;
  flex-direction: column;
}

.job-buttons button {
  margin: 0.1rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  color: white;
  cursor: pointer;
}

.edit-btn {
  background-color: rgb(82, 158, 116);
}

.edit-btn-on {
  background-color: rgb(145, 82, 158);
}

.delete-btn {
  background-color: rgb(175, 59, 59);
}

input {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0.1rem;
  margin: 0.1rem;
}

.job-edit {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.job-err-message {
  font-size: 14px;
  min-height: 17px;
  margin-bottom: 0.2rem;
  text-align: center;
}

.job-ctn-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
